# Ignore compiled binaries
*.o
sept
sept.dSYM/

# Ignore temporary files
*.tmp
temp/

# Ignore log files
*.log
.DS_Store
*/.DS_Store
build/bin
node_modules
frontend/dist

# Ignore db
*.db
*.salt
*.jwt
sept_data/*