@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }

  .wails-drag {
    --wails-draggable: drag;
  }

  .scrollbar-chatbox {

  }
  /* For Webkit browsers (Chrome, Safari) */
  .scrollbar-chatbox::-webkit-scrollbar {
      width: 0.4rem; /* Full width of the scrollbar */
  }

  .scrollbar-chatbox::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-radius: 3px;
      box-sizing: border-box; /* Ensure the border adds space inside the track */
  }

  .scrollbar-chatbox:hover::-webkit-scrollbar-thumb {
    background-color: theme("colors.gray.900");
}
  
  .scrollbar-chatbox::-webkit-scrollbar-track {
      background-color: rgba(0,0,0,0); /* Track background */
  }
}